.TaskEditor {
  padding: 15px;
  margin-bottom: 50px;
  background-color: $white;
  border: 1px solid $white;
  border-radius: 15px;
  box-shadow: 0 15px 15px -14px rgba( 255, 255, 255, .1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $black;

  &__title {
    font-size: 26px;
    font-weight: 600;
  }

  &__block--flexBorder {
    width: 100%;
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__label,
  &__textarea {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
  
  &__label__input,
  &__textarea {
    padding: 10px 15px;
    border-radius: 15px;
    border-style: none;
    background-color: #f7f7f7;
  }

  &__label__name {
    margin-bottom: 15px;
    font-size: 16px;
  }

  &__label__input {
    width: 100%;
    height: 40px;
  }

  &__button {
    padding: 0;
    border: 0;
    border-radius: 15px;
    background: none;
  }
}