body {
  padding: 15px;
  background: $black;
  font-family: 'Quicksand', sans-serif;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  background: $white;
  border: 1px solid $black;
  cursor: pointer;
}

.btn--add {
  width: 100%;
}

.btn--options {
  width: 33px;
  height: 33px;
  padding: 0;
  margin: 0;
  color: $black;
}